@model Local
@{
    ViewData["Title"] = "Agregar Local";
}
<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Agregar Local</h1>
    <form asp-action="AddLocal" controller="Local" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="idLocal">IdLocal:</label>
            <input type="text" asp-for="IdLocal" class="form-control" />
            <span asp-validation-for="IdLocal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" asp-for="Nombre" class="form-control" id="nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ciudad">Ciudad:</label>
            <input type="text" asp-for="Ciudad" class="form-control" id="ciudad" />
            <span asp-validation-for="Ciudad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input type="text" asp-for="Direccion" class="form-control" id="direccion" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="text" asp-for="Telefono" class="form-control" id="telefono" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="nomRespon">Nombre responsable:</label>
            <input type="text" asp-for="NomRespon" class="form-control" id="nomRespon" />
            <span asp-validation-for="NomRespon" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="teleRespon">Telefono responsable:</label>
            <input type="text" asp-for="TeleRespon" class="form-control" id="teleRespon" />
            <span asp-validation-for="TeleRespon" class="text-danger"></span>
        </div>


        <h1 class="display-4" style="font-size:100%;font-weight:bold;margin:10px auto;color:red">@ViewBag.ErrorMessage</h1>

        <button type="submit" class="btn btn-primary">Agregar Local</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
