@model Rutina
@{
    ViewData["Title"] = "Agregar Rutina";
}
<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Agregar Rutina</h1>
    <form asp-action="AddRutina" controller="Rutina" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="idRutina">Id Rutina:</label>
            <input type="text" asp-for="IdRutina" class="form-control" />
            <span asp-validation-for="IdRutina" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" asp-for="Descripcion" class="form-control" id="descripcion" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="tipoRutina">Tipo:</label>
            <select asp-for="TipoRutina" class="form-control" id="tipoRutina">
                <option value="salud">Salud</option>
                <option value="competicionamateur">Competición amateur</option>
                <option value="competicionprofesional">Competición profesional</option>
            </select>
            <span asp-validation-for="TipoRutina" class="text-danger"></span>
        </div>

        <h1 class="display-4" style="font-size:100%;font-weight:bold;margin:10px auto;color:red">@ViewBag.ErrorMessage</h1>

        <button type="submit" class="btn btn-primary">Agregar Rutina</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

